
/*
.info-user {
  display:flex;
    justify-content: center;
    align-items: center;
}
*/

.name-user {
  margin-left: 10px;
  width: 300px;
}

.info-rating {
  margin-top: 5px;
}

.btn-profile {
  background-color: #7cb9b5;
}