
.request-card {
  background-color: #dfebea;
  width: 1000px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.product-offered {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
  text-decoration: none;
  color: black;
}

.product-mine {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.title-product-request {
  font-size: 20px;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos */
  width: 220px; /* Establece un ancho fijo para el contenedor */
}

.status-request {
  width: 30%;
}

.img-product-request {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.img-myproduct-request {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.request-item-card-selected {
  background-color: #7cb9b5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.img-product-card {
  width: 250px;
  height: 250px; 
}

.img-product {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.product-price {
  width: 100px;
  height: 30px;
}

.product-category {
  width: 100px;
  height: 30px;
}

.btn-status {
  height: 70px;
  width: 80%;
}

.btn-status-finalize {
  height: 70px;
  width: 80%;
}

.btn-finalize {
  font-size: 15px;
  background-color: #7cb9b5;
  color: white;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.btn-status-request {
  font-size: 15px;
  background-color: #7cb9b5;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

/*
.btn-status :hover {
  transition: 300ms;
  font-size: 22px;
  width: 110%;
}

*/