
.update-user {
  background-color: #dfebea;
  width: 100%;
  height: 380px;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #7cb9b5;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.update-avatar {
  width: 40%;
}

.update-birth-date {
  width: 25%;
}

.update-phone {
  width: 50%;
  margin: 0 10px;
}

.update-genre {
  width: 25%;
}

.update-text-required {
  width: 120px;
  height: 50px;
}

.update-required {
  border: 1px solid #7cb9b5;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}

.btn-create-update {
  width: 480px;
  height: 50px;
}

.btn-create-update :hover{
  transition: 300ms;
  width: 435px;
  height: 45px;
  font-size: 110%;
  background-color: #7cb9b5;
  border-radius: 10px;
}

.btn-create-update :link{
  transition: 300ms;
}

.submit-form-update {
  background-color: #7cb9b5;
  border-radius: 10px;
  width: 430px;
  height: 40px;
}