
.link-card {
 text-decoration: none;
 color: black;
}

.product-item-card {
  background-color: #dfebea;
  width: 280px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.request-item-card {
  background-color: #dfebea;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
  cursor: pointer;
}

.request-item-card-selected {
  background-color: #7cb9b5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.img-product-card {
  width: 250px;
  height: 250px; 
}

.img-product {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.img-request-product {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.product-price {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.product-category {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.product-title {
  font-size: 20px;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos */
  width: 220px; /* Establece un ancho fijo para el contenedor */
}

.product-item-category {
  font-size: 18px;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos */
  width: 80px; /* Establece un ancho fijo para el contenedor */
}