
.create-request {
  background-color: #dfebea;
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  padding: 30px;
  border: 1px solid #7cb9b5;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.product-requested {
  margin: 20px;
}

.requested-item-card {
  background-color: #dfebea;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
  margin: 10px;
}

.img-requested-product {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.my-products { 
  margin: 20px;
  padding: 20px;
}

.div-btn-create {
  width: 100%;
  height: 85px;
  margin-top: 20px;
}

.div-btn-create :hover{
  transition: 300ms;
  background-color: #7cb9b5;
  width: 99%;
  height: 80%;
  font-size: 110%;
}

.div-btn-create :link{
  transition: 300ms;
}

.btn-form-create {
  background-color: #7cb9b5;
  border-radius: 10px;
  width: 98%;
  height: 75%;
}