
.detail-card {
  background-color: #dfebea;
  padding: 10px;
  margin: 0 auto;
  width: 650px;
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
}

.info-top-detail {
  width: 600px;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
}

.info-user-detail {
  margin-left: 10px;
  width: 200px;
  height: 100px;
}

.location-product-detail {
  border: 1px solid black;
  height: 400px;
}

.rating-product-detail {
  border: 1px solid black;
}

.img-detail {
  width: 600px;
  height: 480px;
}

.img-product-detail {
  border-radius: 10px;
  box-shadow: 0 1px 4px #3a5957;
  width: 580px;
  height: 480px;
  object-fit: cover;
}

.info-product-detail {
  width: 600px;
  height: 300px;
  padding: 10px;
}

.btns-detail {
  width: 200px;
  height: 100px;
}

.btn-chat {
  width: 80px;
  height: 40px;
  border: 1px solid black;
}

.icon-heart {
  font-size: 40px;
}

.product-title-detail {
  height: 50px;
}

.product-price-detail {
  height: 30px;
}

.product-desc-detail {
  height: 150px;
  margin: 20px 0px;
}